{% extends "chat/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load custom_tags %}
{% get_current_language as LANGUAGE_CODE %}
{% load emoji_tags %}

{% block content %}
<div class="fullwindow invisible" id="channel_box_id">
  <div class="d-flex justify-content-center">
    <div class="card">
      <div class="card-header d-flex div_window">
	<div class="flex-grow-1">{% trans 'Add a channel' %}</div>
	<div class=""><a href="#" onclick="return chatns.channel_close_win();" style="color:#ffffff">X</a></div>
      </div>
      <div class="card-body">
	<h5 class="card-title">{% trans 'Create a new channel or add an existing one' %}</h5>
	<div class="input-group custom-search-form">
	  <input type="text" value="" class="form-control" id="add_channel_id" placeholder="{% trans 'Create...' %}">
	  &nbsp;<a class="btn btn-info btn-lgc mb-4" onclick="return chatns.add_channel_close_win();" href="#">{% trans 'Add' %}</a>
	  <span id="add_channel_error_id" class="invalid-feedback invisible"><div id="add_channel_error_div"><strong></strong></div></span>
	</div>
	<div id="other_channels_id">{% include 'chat/channel_list.html' %}</div>
      </div>
    </div>
  </div>
</div>

<div class="fullwindow invisible" id="settings_box_id">
  <div class="d-flex justify-content-center">
    <div class="card">
      <div class="card-header d-flex div_window">
	<div class="flex-grow-1">{% trans 'Settings' %}</div>
	<div class=""><a href="#" onclick="return chatns.settings_close_win();" style="color:#ffffff">X</a></div>
      </div>
      <div class="card-body">
	<div class="form-group col-md-9"><b>{% trans 'Popup notifications' %}</b><hr></div>
	<div class="form-group form-check">
	  <input type="checkbox" class="form-check-input" {% if settings.notifs_mp %}checked{% endif %} id="notifs_mp_id">
	  <label class="form-check-label" for="notifs_mp_id">{% trans 'Enable notifications' %}</label>
	  <small class="form-text text-muted">{% trans 'You will be notified on reception of private messages.<br>Note that you must enable browser notifications manually.' %}</small>
	</div>
	<div class="form-group form-check">
	  <input type="checkbox" class="form-check-input" id="notifs_chann_id" {% if settings.notifs_chann %}checked{% endif %}>
	  <label class="form-check-label" for="notifs_chann_id">{% trans 'Enable channel notifications' %}</label>
	  <small class="form-text text-muted">{% trans 'You will be notified on reception of messages from public channels' %}.</small>
	</div>
	<div class="form-group col-md-9"><b>{% trans 'Sound notifications' %}</b><hr></div>
	<div class="form-group form-check">
	  <input type="checkbox" class="form-check-input" id="notifs_sound_mp_id" {% if settings.notifs_sound %}checked{% endif %}>
	  <label class="form-check-label" for="notifs_sound_mp_id">{% trans 'Play sound' %}</label>
	  <small class="form-text text-muted">{% trans 'A sound will be played on reception of private messages' %}.</small>
	</div>
	<div class="form-group form-check">
	  <input type="checkbox" class="form-check-input" id="notifs_sound_chann_id" {% if settings.notifs_sound_chann %}checked{% endif %}>
	  <label class="form-check-label" for="notifs_sound_chann_id">{% trans 'Play sound on channel activities' %}</label>
	  <small class="form-text text-muted">{% trans 'A sound will be played on reception of messages from public channels' %}.</small>
	</div>
	<span id="settings_error_id" class="invalid-feedback invisible d-block"><div id="settings_error_div"><strong></strong></div></span><br>
	<a href="#" class="btn btn-primary" onclick="chatns.settings_save();">{% trans 'Save' %}</a>

      </div>
    </div>
  </div>
</div>

<div id="frame">
  <div id="sidepanel">
    <div id="profile">
      <div class="wrap">

	<audio id="sound">
	  <source src="{% static 'chat/bell2.ogg' %}" type="audio/ogg">
	  <source src="{% static 'chat/bell2.mp3' %}" type="audio/mpeg">
	</audio>
	<img id="profile-img" src="{% url 'user-img' request.user.id %}" class="offline" alt="" />
	<p id="user_name_{{ request.user.id }}">{{ request.user.first_name }} {{ request.user.last_name }}</p>
	<p id="unread_msgs_id" class="unread_msg_alert invisible">
	  <b>{% trans 'You have unread messages' %}</b>
	</p>
	<!-- i class="fa fa-chevron-down expand-button" aria-hidden="true"></i-->
	<div id="status-options">
	  <ul class="nolist">
	    <li id="status-away" class="active" onclick="chatns.update_status('away')">
	      <span class="status-circle">
		<div id="status_win">{% trans 'Away' %}</div></span>
	    </li>
	    <li id="status-busy" class="active" onclick="chatns.update_status('busy')">
	      <span class="status-circle">
		<div id="status_win">{% trans 'Busy' %}</div></span>
	    </li>
	    <li id="status-online" class="active" onclick="chatns.update_status('online')">
	      <span class="status-circle">
		<div id="status_win">{% trans 'Online' %}</div></span>
	    </li>
	    <li id="status-offline" class="active" onclick="chatns.update_status('offline')">
	      <span class="status-circle">
		<div id="status_win">{% trans 'Offline' %}</div></span>
	    </li>
	  </ul>
	</div>
	<!--div id="expanded">
	  <label for="twitter"><i class="fab fa-facebook-f" aria-hidden="true"></i></label>
	  <input name="twitter" type="text" value="mikeross" />
	  <label for="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></label>
	  <input name="twitter" type="text" value="ross81" />
	  <label for="twitter"><i class="fab fa-instagram" aria-hidden="true"></i></label>
	  <input name="twitter" type="text" value="mike.ross" />
	</div-->
      </div>
    </div>
    <!--div id="search">
      <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
      <input type="text" placeholder="Search contacts..." />
    </div-->
    <div id="contacts">
      <ul class="nolist" id="contact_list_id">

	<li id="contact_id_general" class="contact{% if not cur_user %} active{% endif %}" onclick="chatns.set_active(this, 'general', false)" style="padding:10px;">
	  <div class="wrap">
	    <div class="meta">
	      <i class="fas fa-home fa-2x" style="margin:-5px;"></i>
	      <div style="margin:-23px 0 0 45px;"><b>{% trans 'General' %}</b></div>
	    </div>
	  </div>
	</li>

	{% for c in my_channels %}
	<input type="hidden" id="channel_name_{{ c.id }}" value="{{ c.name }}">
	<li id="contact_id_channel_{{ c.id }}" class="contact" onclick="chatns.set_active(this, {{ c.id }}, true)" style="padding:10px;" onmouseover="chatns.channel_remove_btn(this, {{ c.id }}, false);" onmouseout="chatns.channel_remove_btn(this, {{ c.id }}, true);">
	  <div class="wrap">
	    <div class="meta">
	      <i class="fas fa-hashtag fa-2x" style="margin:-5px;"></i>
	      <div style="margin:-23px 0 0 45px;font-weight: bold;" id="channel_{{ c.id }}">
		{{ c.name }}
		<div style="display:none;">&nbsp;
		  <a href="" onclick="return chatns.remove_channel({{ c.id }});">
		    <i class="fas fa-minus-circle"></i>
		  </a>
		</div>
	      </div>
	    </div>
	  </div>
	</li>

	{% endfor %}
	<li><hr></li>

	{% for u in users %}
	{% if u.id != request.user.id %}
	<li id="contact_id_{{ u.id}}" class="contact" onclick="chatns.set_active(this, {{ u.id }}, false)">
	  <div class="wrap">
	    <span id="user_id_{{ u.id }}" class="contact-status {{ u.chat_status }}{% if cur_user %} active{% endif %}"></span>
	    <img id="user_img_{{ u.id }}" src="{% url 'user-img' u.id %}" alt="{{ u.first_name }} {{ u.last_name }}" />
	    <div class="meta">
	      <p id="user_name_{{ u.id }}" class="name">{{ u.first_name }} {{ u.last_name }}</p>
	      <p id="user_msg_preview_{{ u.id }}" class="preview"></p>
	    </div>
	  </div>
	</li>
	{% endif %}
	{% endfor %}
      </ul>
    </div>
    <div id="bottom-bar">
      <button onclick="chatns.add_channel();">
	<i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>{% trans 'Add channel' %}</span></button>
      <button onclick="chatns.settings_show();"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>{% trans 'Settings' %}</span></button>
    </div>
  </div>
  <div class="content" onmouseout="chatns.has_focus=false" onmouseover="if (typeof chatns !== 'undefined') chatns.unread_msg_cur_user_clear();">
    <div style="position:absolute;margin:-1000px -1000px;" class="messages" id="hidden_cur_msg_box_id"><ul></ul></div>
    <span id="msg_box_id">
      {% include 'chat/msg_box.html' %}
    </span>
    <div class="message-input">
      <div class="wrap">
	<input type="text" placeholder="{% trans 'Write your message...' %}" />
	<!--i class="fa fa-paperclip attachment" aria-hidden="true"></i-->
	<button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
 <script>
   {% include 'chat/chat_js.html' %}
 </script>
 <script src="{% static 'emoji/js/emoji.js' %}"></script>
 <script>
   {% emoji_load %}
 </script>

{% endblock %}
