{% extends "chat/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% load i18n %}
{% load l10n %}
{% load custom_tags %}
{% get_current_language as LANGUAGE_CODE %}

{% block content %}
<div id="frame">
  <div id="sidepanel">
    <div id="profile">
      <div class="wrap">

	<audio id="sound">
	  <source src="{% static 'chat/bell.ogg' %}" type="audio/ogg">
	  <source src="{% static 'chat/bell.mp3' %}" type="audio/mpeg">
	</audio>

	<img id="profile-img" src="{% url 'user-img' request.user.id %}" class="offline" alt="" />
	<p>{{ request.user.first_name }} {{ request.user.last_name }}</p>
	<p id="unread_msgs_id" style="font-size:12px; color:#ff0000;"></p>
	<!-- i class="fa fa-chevron-down expand-button" aria-hidden="true"></i-->
	<div id="status-options">
	  <ul class="nolist">
	    <li id="status-away" class="active" onclick="update_status('away')">
	      <span class="status-circle">
		<div id="status_win">{% trans 'Away' %}</div></span>
	    </li>
	    <li id="status-busy" class="active" onclick="update_status('busy')">
	      <span class="status-circle">
		<div id="status_win">{% trans 'Busy' %}</div></span>
	    </li>
	    <li id="status-online" class="active" onclick="update_status('online')">
	      <span class="status-circle">
		<div id="status_win">{% trans 'Online' %}</div></span>
	    </li>
	    <li id="status-offline" class="active" onclick="update_status('offline')">
	      <span class="status-circle">
		<div id="status_win">{% trans 'Offline' %}</div></span>
	    </li>
	  </ul>
	</div>
	<!--div id="expanded">
	  <label for="twitter"><i class="fab fa-facebook-f" aria-hidden="true"></i></label>
	  <input name="twitter" type="text" value="mikeross" />
	  <label for="twitter"><i class="fab fa-twitter" aria-hidden="true"></i></label>
	  <input name="twitter" type="text" value="ross81" />
	  <label for="twitter"><i class="fab fa-instagram" aria-hidden="true"></i></label>
	  <input name="twitter" type="text" value="mike.ross" />
	</div-->
      </div>
    </div>
    <div id="search">
      <label for=""><i class="fa fa-search" aria-hidden="true"></i></label>
      <input type="text" placeholder="Search contacts..." />
    </div>
    <div id="contacts">
      <ul class="nolist" id="contact_list_id">
	{% for u in users %}
	{% if u.id != request.user.id %}
	<li id="contact_id_{{ u.id}}" class="contact" onclick="set_active(this, {{ u.id }})">
	  <div class="wrap">
	    <span id="user_id_{{ u.id }}" class="contact-status {{ u.chat_status }}{% if cur_user %} active{% endif %}"></span>
	    <img id="user_img_{{ u.id }}" src="{% url 'user-img' u.id %}" alt="{{ u.first_name }} {{ u.last_name }}" />
	    <div class="meta">
	      <p id="user_name_{{ u.id }}" class="name">{{ u.first_name }} {{ u.last_name }}</p>
	      <p id="user_msg_preview_{{ u.id }}" class="preview"></p>
	    </div>
	  </div>
	</li>
	{% endif %}
	{% endfor %}
      </ul>
    </div>
    <div id="bottom-bar">
      <button onclick="add_channel();" id="addcontact"><i class="fa fa-user-plus fa-fw" aria-hidden="true"></i> <span>Add contact</span></button>
      <button id="settings"><i class="fa fa-cog fa-fw" aria-hidden="true"></i> <span>Settings</span></button>
    </div>
  </div>
  <div class="content">
    <div class="contact-profile">
      {% if cur_user %}
      <img id="contact_img_id" src="{% url 'user-img' cur_user.id %}">
      <p style="line-height:60px;" id="contact_name_id">{% trans 'Conversation with ' %} {{ cur_user.first_name }} {{ cur_user.last_name }}</p>
      {% else %}
      <img id="contact_img_id">
      <p style="line-height:60px;" id="contact_name_id"></p>
      {% endif %}
      <!--div class="social-media">
	<i class="fab fa-facebook-f" aria-hidden="true"></i>
	<i class="fab fa-twitter" aria-hidden="true"></i>
	<i class="fab fa-instagram" aria-hidden="true"></i>
      </div-->
    </div>
    <div class="messages" id="message_box_id">
      {% if cur_user_msgs %}
      <ul>
      {% for msg in cur_user_msgs %}
	<li class="{% if request.user.id == msg.from_user.id %}sent{% else %}replies{% endif %}">
	  <div>
	    <img src="{% url 'user-img' msg.from_user.id %}" alt="" />
	    <div class="msg_div">
	      <b>{{ msg.from_user.first_name }} {{ msg.from_user.last_name }}</b>
	      <span class="msg_span">{{ msg.date }}</span></div>
	  </div><br>
	  <p class="msg_p">{{ msg.text }}</p>
	</li>
	{% endfor %}
      </ul>
      {% endif %}
    </div>
    <div class="message-input">
      <div class="wrap">
	<input type="text" placeholder="{% trans 'Write your message...' %}" />
	<!--i class="fa fa-paperclip attachment" aria-hidden="true"></i-->
	<button class="submit"><i class="fa fa-paper-plane" aria-hidden="true"></i></button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascript %}
 <script>

 var cur_tuid = '';
 var cur_cuid = '';
 var msg_box = document.getElementById('message_box_id');
 var ws_scheme = window.location.protocol == "https:" ? "wss" : "ws";
 var chatSocket = new ReconnectingWebSocket(ws_scheme + '://' +
					    window.location.host +
					    '/ws/chat');

 msg_box.scrollTop = msg_box.scrollHeight;

 document.addEventListener('DOMContentLoaded', function() {
     if (!Notification) {
	 alert('Desktop notifications not available in your browser.');
	 return;
     }

     if (Notification.permission !== 'granted')
	 Notification.requestPermission();
 });

 function truncateString(str, num) {
     if (str.length <= num) {
	 return str
     }
     return str.slice(0, num) + '...'
 }

 function notifyMe(user_name, uid, img, msg) {
     playSound();
     if (Notification.permission === 'granted') {
	 var notification = new Notification('{% trans 'Message from' %}' + ' ' + user_name, {
	     body: truncateString(msg, 40),
	 });
	 notification.onclick = function() {
	     var contact_elem = document.getElementById('contact_id_' + uid);

	     window.focus();
	     set_active(contact_elem, uid);
	     this.close();
	 };
     } else if (Notification.permission !== 'denied') {
       Notification.requestPermission();
     }
 }

 var month = new Array();
 {% if LANGUAGE_CODE == 'fr' %}
 month[0] = "janvier";
 month[1] = "février";
 month[2] = "mars";
 month[3] = "avril";
 month[4] = "mai";
 month[5] = "juin";
 month[6] = "juillet";
 month[7] = "août";
 month[8] = "septembre";
 month[9] = "octobre";
 month[10] = "novembre";
 month[11] = "décembre";
 {% else %}
 month[0] = "Jan.";
 month[1] = "Feb.";
 month[2] = "March";
 month[3] = "April";
 month[4] = "May";
 month[5] = "June";
 month[6] = "July";
 month[7] = "August";
 month[8] = "Sep.";
 month[9] = "Oct.";
 month[10] = "Nov.";
 month[11] = "Dec.";
 {% endif %}

 function addZero(i) {
     if (i < 10) {
	 i = "0" + i;
     }
     return i;
 }

 function get_current_date()
 {
     var today = new Date();
     var n = month[today.getMonth()];
     var h = today.getHours();
     var ampm = '';

     {% if LANGUAGE_CODE == 'en' %}
     if (h > 12) {
	 ampm = ' p.m.';
	 h -= 12;
     } else
	 ampm = ' a.m.';
     return n + ' ' + (today.getDay() + 1) + ', ' + today.getFullYear() + ', ' + h + ':' + addZero(today.getMinutes()) + ampm;
     {% else %}
     return (today.getDay() + 1) + ' ' + n + ' ' + today.getFullYear() + ' ' + addZero(h) + ':' + addZero(today.getMinutes());
     {% endif %}
 }

 chatSocket.onmessage = function(e) {
     var data = JSON.parse(e.data);
     var message = data['message'];
     var cmd = data['cmd'];
     var uid = data['uid'];
     var status = data['status'];

     if (typeof uid === 'undefined')
	 return;
     if (typeof cmd === 'undefined')
	 return;

     var status_elem = $('#user_id_' + uid);
     if (typeof status_elem.val() === 'undefined')
	 return;

     switch (cmd) {
     case {{ ws_cmds.CONNECT.value }}:
	 status_elem.removeClass('offline');
	 status_elem.addClass(status);
	 return;

     case {{ ws_cmds.DISCONNECT.value }}:
	 status_elem.attr('class', 'contact-status offline');
	 return;

     case {{ ws_cmds.STATUS_UPDATE.value }}:
	 status_elem.attr('class', 'contact-status ' + status);
	 return;
     }

     var user_name = $('#user_name_' + uid);
     if (typeof user_name.val() === 'undefined')
	 return;

     var user_img = $('#user_img_' + uid);
     if (typeof user_img.val() === 'undefined')
	 return;

     if (cur_tuid != uid) {
	 var user_msg_preview = $('#user_msg_preview_' + uid);

	 if (typeof user_msg_preview.val() === 'undefined')
	     return;

	 var msg = truncateString(decodeURI(data['message']), 80);

	 user_msg_preview.text(msg);
	 notifyMe(user_name.text(), data['uid'], user_img, msg);
	 return;
     }
     $('<li class="replies"><div><img src="' + user_img.attr('src') + '"><div class="msg_div"><b>' + user_name.text() + '</b> <span class="msg_span">' + get_current_date() + '</span></div></div><br><p class="msg_p">' + data['message'] + '</p></li>').appendTo($('.messages ul'));
     $('.message-input input').val(null);
     msg_box.scrollTop = msg_box.scrollHeight;
 };

 $("#profile-img").click(function() {
     $("#status-options").toggleClass("active");
 });

 $(".expand-button").click(function() {
     $("#profile").toggleClass("expanded");
     $("#contacts").toggleClass("expanded");
 });

 $("#status-options ul li").click(function() {
     $("#profile-img").removeClass();
     $("#status-online").removeClass("active");
     $("#status-away").removeClass("active");
     $("#status-busy").removeClass("active");
     $("#status-offline").removeClass("active");
     $(this).addClass("active");

     if($("#status-online").hasClass("active")) {
	 $("#profile-img").addClass("online");
     } else if ($("#status-away").hasClass("active")) {
	 $("#profile-img").addClass("away");
     } else if ($("#status-busy").hasClass("active")) {
	 $("#profile-img").addClass("busy");
     } else if ($("#status-offline").hasClass("active")) {
	 $("#profile-img").addClass("offline");
     } else {
	 $("#profile-img").removeClass();
     };

     $("#status-options").removeClass("active");
 });

 function newMessage() {
     message = $(".message-input input").val();
     message = message.replace(/<[^>]*>?/gm, '');

     if($.trim(message) == '') {
	 return false;
     }
     if (cur_tuid == '') {
	 return;
     }

   if (cur_status == 'offline') {
     alert('{% trans 'You are offline' %}');
     return;
   }
     chatSocket.send(JSON.stringify({
	 'cmd': {{ ws_cmds.MSG.value }},
	 'tuid': cur_tuid,
	 'msg': encodeURI(message)
     }));
     $('<li class="sent"><div><img src="{% url 'user-img' request.user.id %}" alt="" /><div class="msg_div"><b>{{ request.user.first_name }} {{ request.user.last_name }}</b> <span class="msg_span">' + get_current_date() + '</span></div></div><br><p class="msg_p">' + message + '</p></li>').appendTo($('.messages ul'));
     $('.message-input input').val(null);
     msg_box.scrollTop = msg_box.scrollHeight;
 }

 $('.submit').click(function() {
     newMessage();
 });

 $(window).on('keydown', function(e) {
     if (e.which == 13) {
	 newMessage();
	 return false;
     }
 });

 function set_active(elem, uid)
 {
     var id = '#user_msg_preview_' + uid;
     var user_msg_preview = $(id);

     if (typeof user_msg_preview.val() !== 'undefined')
	 user_msg_preview.text('');

     $('li').each(function(i) {
	 $(this).removeClass('active');
     });

     elem.classList.add('active');
     cur_tuid = uid;

     $.ajax({
	 url: "{% url 'chat-load-msgs' %}",
	 data: {
	     'uid': uid
	 },
	 success: function(data) {
	     var contact_name = document.getElementById('contact_name_id');
	     var contact_img = document.getElementById('contact_img_id');
	     var delim = data.lastIndexOf("<ul>") - 1;
	     var username = data.substring(0, delim);

	     contact_name.innerHTML = "{% trans 'Conversation with ' %}" + username;
	     contact_img.src = '/user/user-img/' + uid;
	     data = data.substring(delim + 1);
	     msg_box.innerHTML = decodeURI(data);
	     msg_box.scrollTop = msg_box.scrollHeight;
	 }
     });
 }

 function playSound()
 {
     document.getElementById('sound').play();
 }

 function update_status(status)
 {
   if (cur_status == status)
     return;

   cur_status = status;

   chatSocket.send(JSON.stringify({
     'cmd': {{ ws_cmds.STATUS_UPDATE.value }},
     'status': status,
   }));
 }
</script>
{% endblock %}
