{% load custom_tags %}{% load static %}{% load i18n %}
<div class="contact-profile">
  {% if cur_user %}
  <img id="contact_img_id" src="{% url 'user-img' cur_user.id %}">
  <p style="line-height:60px;" id="contact_name_id">{% trans 'Conversation with ' %} {{ cur_user.first_name }} {{ cur_user.last_name }}</p>
  {% else %}
  <img id="contact_img_id">
  <p style="line-height:60px;" id="contact_name_id"></p>
  {% endif %}
  <!--div class="social-media">
      <i class="fab fa-facebook-f" aria-hidden="true"></i>
      <i class="fab fa-twitter" aria-hidden="true"></i>
      <i class="fab fa-instagram" aria-hidden="true"></i>
  </div-->
</div>
<div class="messages" id="inner_msg_box_id">
  {% if cur_user_msgs %}
  <ul>
    {% for msg in cur_user_msgs %}
    <li class="{% if request.user.id == msg.from_user.id %}sent{% else %}replies{% endif %}">
      <div>
	<img src="{% url 'user-img' msg.from_user.id %}" alt="" />
	<div class="msg_div">
	  <b>{{ msg.from_user.first_name }} {{ msg.from_user.last_name }}</b>
	  <span class="msg_span">{{ msg.date }}</span></div>
      </div><br>
      <p class="msg_p">{{ msg.text }}</p>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
  {% if cur_user_new_msgs %}
  <ul>
    <div class="center_div">
      <span class="center_span">{% trans 'New messages' %}</span>
    </div>
    <hr class="hr_separator">
    {% for msg in cur_user_new_msgs %}
    <li class="{% if request.user.id == msg.from_user.id %}sent{% else %}replies{% endif %}">
      <div>
	<img src="{% url 'user-img' msg.from_user.id %}" alt="" />
	<div class="msg_div">
	  <b>{{ msg.from_user.first_name }} {{ msg.from_user.last_name }}</b>
	  <span class="msg_span">{{ msg.date }}</span></div>
      </div><br>
      <p class="msg_p">{{ msg.text }}</p>
    </li>
    {% endfor %}
  </ul>
  {% endif %}
</div>
