{% load custom_tags %}{% load static %}{% load i18n %}
<div class="contact-profile">
  {% if user %}
  <img id="contact_img_id" src="{% url 'user-img' user.id %}">
  {% with name=user.first_name|add:' '|add:user.last_name %}
  <p style="line-height:60px;" id="contact_name_id">{{ name|truncatechars:30 }}</p>
  {% endwith %}
  {% elif channel %}
  <p style="line-height:60px;" id="contact_name_id">&nbsp;&nbsp;#{{ channel.name|truncatechars:30 }}</p>
  {% else %}
  <img id="contact_img_id">
  <p style="line-height:60px;" id="contact_name_id"></p>
  {% endif %}
</div>
<div class="messages" id="inner_msg_box_id" onscroll="chatns.msg_box_onscroll(this)">
  <div class="center_div invisible" id="loading_id">
    <span class="center_span">{% trans 'Loading' %}</span>
  </div>
  <ul>
    {% if msgs %}
    {% include 'chat/inner_msg_box.html' %}
    {% endif %}
  </ul>
</div>
